---
import HeroSection from '../components/HeroSection.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Ezgi Akkaya">
	<main class="space-y-40 mb-10">
		<HeroSection/>
	</main>
</Layout>